.app{
  
  padding: 10px;

}
ul{
  display:flex;
 
  
}
li{
  list-style: none;
  box-sizing: border-box;
  padding-right: 20px;
}
a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 550;
}
a:hover{
  color: rgb(9, 9, 54);
}

.themeSwitch{
  margin: 4px 0 0 40px;
}
#light {
  background-color: rgb(217, 243, 241);
}
#dark {
  background-color: #3d3d3d;
  
}

#light .lab{
  color:black;
}
#dark .lab{
  color:white;
}
