.transaction{
  background-color: rgb(164, 182, 189);
  border: 1px solid #727170;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;

}
.transaction-data{
display: flex;
justify-content: space-between;
}
p {
  margin: 0;
}
.icon_svg{
  max-width: 20px;
  margin: 0 20px 0 0;
}
